# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
build/
build-cmake/
.vs/
*.user
CMakeUserPresets.json
CMakePresets.json
